{% extends 'base.html' %}
{% block title %}Edit template{% endblock %}
{% block content %}
<h2>Edit: {{ template[1] }}</h2>

<p>Here you may edit templates for custom messages. Database fields can be referenced
in templates by enclosing them in double curly parentheses 
{{ '{{' }} <em>like this</em> {{ '}}' }}.
<br>
Click <a href="{{ url_for('help_template') }}">here</a> 
for help on templating.
</p>
</p>
<form method="post">
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type ="text" class="form-control" name="description" required value="{{ template[2] }}" />
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Contenuto</label>
    <textarea class="form-control" name="content" rows="10" required>{{ template[3] }}</textarea>
  </div>
  <button class="btn btn-success">Salva</button>
</form>
{% endblock %}
