{% extends 'base.html' %}
{% block title %}Custom messages{% endblock %}
{% block content %}
<h2>Generate message from template</h2>
<p class="mb-3">
Select a template and a member category to generate custom messages based on the 
selected template and addressed to the selected member category. You may then 
download a CSV file for mailmerge by pressing the "download button".
</p>
<form method="post" class="mb-4">
  <div class="narrow-table-left mb-3">
  <div class="mb-3">
    <label for="template" class="form-label">Select a template</label>
    <select class="form-select" name="template" id="template" required>
      <option value="" disabled {% if not selected %}selected{% endif %}>-- select --</option>
      {% for t in templates %}
        <option value="{{ t[0] }}" {% if t[0] == selected %}selected{% endif %}>{{ t[1] or t[0] }}</option>
      {% endfor %}
    </select>
  </div>
  
  <div class="mb-3">
  <label for="categoria" class="form-label">Member category</label>
  <select class="form-select" name="categoria" id="categoria" required>
    <option value="tutti">Tutti</option>
    <option value="regolare" {% if categoria == 'regolare' %}selected{% endif %}>Regolari</option>
    <option value="moroso" {% if categoria == 'moroso' %}selected{% endif %}>Morosi</option>
    <option value="decaduto" {% if categoria == 'decaduto' %}selected{% endif %}>Decaduti</option>
  </select>
</div>
<div> 
  
  <button class="btn btn-primary">Preview</button>
</form>
{% if selected %}
<form method="post" action="{{ url_for('export_lettere') }}">
  <input type="hidden" name="template" value="{{ selected }}">
  <input type="hidden" name="categoria" value="{{ categoria }}">
  <button class="btn btn-success mt-3">Download CSV</button>
</form>
{% endif %}

{% if anteprima %}
  <div class="card">
    <div class="card-body">
      <!--pre>{{ anteprima | safe }}</pre-->
      {{ anteprima | safe }}
    </div>
  </div>
{% endif %}
{% endblock %}